* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#navigation {
    display: block;
    position: sticky;
    top: 0px;
    user-select: none;
}

#check {
    display: none;
}

.nav-contain {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
    align-items: center;
    padding: 15px 14px 15px 30px;
    box-shadow: 1px 1px 5px 0px white;
}

.nav-ul li {
    display: inline-block;
    list-style-type: none;
    padding-right: 1rem;
}

.nav-ul li a:hover {
    color: #00f9ec;
}

.nav-ul li a {
    text-decoration: none;
    color: white;
    transition: .4s;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
}

span {
    color: #00f9ec;
}

.icon {
    color: #00f9ec;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.main {
    background-image: url("bg2-img.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    /* filter: blur(10px);
    z-index: -1; */
}

.hero {
    height: 92.5vh;
    width: 100%;
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 5rem;
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */

}

.circle {
    height: 350px;
    width: 350px;
    border-radius: 175px;
    cursor: pointer;
    margin: 1rem;
    box-shadow: 0px 0px 20px 5px black,
        inset 0 0 20px 5px black;
    border: 10px solid #00f9ec;
    background-image: url(junaid.jpg);
    background-position: center;
    background-size: contain;
}

.content h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 70px;
}

.content {
    cursor: pointer;
    padding: 1em;
    user-select: none;
}

.intro {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.in {
    font-size: 2rem;
    margin: 20px 0 20px 21px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #00f9ec;
}

.hello {
    padding: 5px 0;
    color: white;
    border: 2px solid #00f9ec;
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.4s;
}

.hello:hover {
    background-color: #00f9ec;
    color: white;
}

hr {
    height: 3px;
    /* border: none; */
    background-color: #00ffff;
    box-shadow: 0 5px 20px 0.25px #00ffff;
}

.about {
    /* height: 100vh; */
    width: 100%;
    padding: 100px 0px;
    background-color: black;
}

.about-content {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;
    width: 1220px;
}

h2 {
    color: #00f9ec;
    font-size: 4.75em;
}

h3 {
    color: #00f9ec;
    font-size: 4.75em;
    font-weight: bold;
    letter-spacing: 1px;
}

.posi {
    color: white;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin: 20px 0;
}

.img {
    height: 560px;
    width: 345px;
    border: 10px solid #00f9ec;
    border-radius: 175px;
    box-shadow: inset 0 0 20px 10px black;
    background-image: url(main-img.png);
    background-position: center;
    background-size: cover;
}

.description {
    width: 550px;
}

.description p {
    color: white;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 45px;
}

.services {
    background-color: #191919;
    width: 100%;
    padding: 100px 0;
}

.title {
    text-align: center;
}

h5 {
    font-size: 1.5em;
    margin: 15px 0;
    color: #00f9ec;
}

.card p {
    color: white;
    margin-bottom: 15px;
    font-size: 1.11em;
    line-height: 25px;
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 13px 0;
    color: white;
    background-color: #00f9ec;
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 0.8em;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover {

    border: 2px solid #00f9ec;
    color: white;
    background-color: #191919;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.card {
    height: auto;
    width: 100%;
    max-width: 355px;
    padding: 20px 35px;
    background: #000000;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
    box-sizing: border-box;
}

.card i {
    font-size: 2em;
    color: #00f9ec;
}

@media (max-width: 1000px) {

    hr {
        display: none;
    }

    .nav-ul {
        background-color: #00000050;
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        gap: 35px;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 68px;
        height: 0;
        width: 100%;
        right: 0;
        font-size: 1.3rem;
        transition: 0.3s ease;
        overflow: hidden;
    }

    .hero {
        padding: 0;
    }

    .description {
        text-align: center;
        width: 90%;
    }

    .img {
        margin-bottom: 30px;
    }

    .icon {
        display: block;
        margin-right: 20px;
    }

    .icon #close-icon {
        display: none;
    }

    #check:checked~.icon #menu-icon {
        display: none;
    }

    #check:checked~.icon #close-icon {
        display: block;
    }

    #check:checked~.nav-ul {
        height: 40vh;
    }
}

@media (max-width: 600px) {
    .content h3 {
        font-size: 1.2rem;
    }

    .content h1 {
        font-size: 3rem;
        margin: 0;
    }

    .in {
        margin: 10px 0 0 15px;
    }

    .circle {
        height: 250px;
        width: 250px;
        border-radius: 130px;
    }

    h2 {
        font-size: 3em;
    }

    .posi {
        font-size: 1.2em;
        margin: 10px 0;
    }

    h3 {
        font-size: 3em;
    }

    .intro {
        font-size: 1.25rem;
    }

    .img {
        height: 560px;
        width: 345px;
    }

    .about {
        padding: 50px 0;
    }

    .services {
        padding: 50px 0 ;
    }

    .description p {
        font-size: 1em;
    }
}